table {
	margin-left:auto;
	margin-right:auto;
	border-collapse : collapse;
}
h1{
	text-align:center;
}

td{
	width:30px;
	height:30px;
	border: 1px solid black;
}

.cache{
	background-image:url(imagesDemineur/cache.png);
}

.vide{
	background-image:url(imagesDemineur/vide.png);
}

.bombe{
	background-image:url(imagesDemineur/bombe.png);
}

.drapeaux{
	background-image:url(imagesDemineur/marque.png);
}

.un{
	background-image:url(imagesDemineur/un.png);
}

.deux{
	background-image:url(imagesDemineur/deux.png);
}
.trois{
	background-image:url(imagesDemineur/trois.png);
}
.quatre{
	background-image:url(imagesDemineur/quatre.png);
}
.cinq{
	background-image:url(imagesDemineur/cinq.png);
}
